@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");

body {
  margin: 12px;
  color: #333;
  font-family: "Lato", Verdana, Arial, sans-serif;
  line-height: 1.6;
  background-color: #ddd;
}

#wrapper {
  max-width: 840px;
  margin: 0 auto;
  /* border: 1px solid #999; */
  position: relative;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0px 0px 6px 2px #aaa;
}

a {
  color: #600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  font-family: "Lobster", cursive;
  font-weight: normal;
}

header h1,
header h2 {
  font-size: 4rem;
  margin: 8px 0;
}

header h2 {
  font-size: 2rem;
  color: rgb(206, 78, 78);
}

.nav {
  list-style: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 24px;
}

.nav li {
  display: inline-block;
  margin-right: 10px;
}
.nav a {
  color: rgb(250, 244, 244);
  text-decoration: none;
  text-align: center;
  padding: 4px;
  display: block;
  background-color: rgb(206, 78, 78);
  border-radius: 8px;
  border-color: black;
  transition: background-color 0.5s cubic-bezier(0.85, -0.01, 0.26, 0.99);
  position: relative;
  box-shadow: 0px 0px 6px 2px #aaa;
}
.nav a:hover {
  color: rgb(206, 78, 78);
  background-color: #f8f7f5;
}

aside {
  position: absolute;
  top: 200px;
  left: 24px;
  width: 180px;
  background-color: rgb(206, 78, 78);
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #600;
  color: rgb(250, 244, 244);
  box-shadow: 0px 0px 6px 2px #aaa;
  /* text-align: center; */
}

aside ul {
  list-style: none;
  padding: 2px;
  border-top: 1px dashed #f8f7f5;
}
aside ul li:first-child {
  font-family: "Lobster", cursive;
  text-align: center;
}

article {
  margin: 0 20px 0 240px;
}

article h2 {
  font-family: "Lobster", cursive;
}
article img {
  float: right;
}

blockquote {
  float: right;
  width: 40%;
  font-size: 24px;
}

blockquote::before {
  content: "“";
  font-size: 4rem;
  font-family: serif;
  color: #333;
  line-height: 0.1em;
  vertical-align: -0.4em;
  color: #600;
}

aside + p::first-letter {
  float: left;
  font-family: lobster;
  font-size: 50px;
  padding-right: 5px;
  padding-top: 12px;
  line-height: 30px;
  color: rgb(206, 78, 78);
}

@media print {
  * {
    display: none !important;
    color: red;
  }
}

@media all and (max-width: 800px) {
  body {
    margin: 0;
  }
  article {
    margin-left: 0;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    z-index: 10;
  }

  .nav li {
    margin: 0;
    flex-grow: 1;
  }
  .nav li a {
    border-radius: 0;
  }

  aside {
    position: static;
    float: none;
    margin-right: 20px;
    width: 100%;
  }

  aside ul li:first-child {
    font-family: "Lobster", cursive;
    text-align: unset;
  }
}

.foo {
  font-size: 200px;
  color: rebeccapurple;
}

.popover {
  width: 300px;
  height: 225px;
  padding: 1rem;
  background-color: #fff;
  border: 2px solid #600;
  border-radius: 4px;
  position: fixed;
  top: calc(50% - 112px);
  left: calc(50% - 150px);
  display: none;
}

.showme .popover {
  display: block;
}

.showme #wrapper {
  filter: blur(4px) grayscale(100%) opacity(50%);
}

.popover .closer {
  position: absolute;
  top: -14px;
  right: -14px;
  color: #600;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  padding: 0.25rem;
  line-height: 1rem;
  text-align: center;

  /* text-decoration: none;
  background-color: #fff;
  padding: 0.25rem;
  border: 2px solid #600;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center; */
}
